[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KaradaColor"]
	path = KaradaColor
	url = https://github.com/masakifujishima/karadacolor
